<!DOCTYPE html>
<html>
  <head>
    <title>Viewer</title>
    <meta charset="UTF-8" />
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body>
    <video autoplay muted controls></video>
    <!--<button id="enable-audio">Enable audio</button>-->
    <script>
      
      let script1 = document.createElement("script");
      script1.src = "https://cdn.socket.io/4.5.1/socket.io.js";
      let script2 = document.createElement("script");
      script2.src = "/watch.js";
      
      document.body.appendChild(script1);
      script1.onload = () => {
        document.body.appendChild(script2);
      };
      
          </script>
  </body>
</html>
